{{ if isset .Site.Params.social_share "pinterest" }}
<a
    aria-label="icon-pinterest"
    class="icon-pinterest"
    data-pin-do="buttonBookmark"
    data-pin-save="true"
    data-pin-custom="true"
    href="https://www.pinterest.com/pin/create/button/?url={{ .Permalink }}&description=Pin%20it">
    <i class="fa fa-pinterest"></i>
</a>
{{ end }}
{{ if isset .Site.Params.social_share "facebook" }}
<a
    aria-label="icon-facebook"
    class="icon-facebook"
    href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"
    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
    <i class="fa fa-facebook"></i>
</a>
{{ end }}
{{ if isset .Site.Params.social_share "twitter" }}
<a
    aria-label="icon-twitter"
    class="icon-twitter"
    href="https://twitter.com/share?text={{ .Title }} by {{ .Site.Params.social_handles.twitter }} {{ .Params.hashtag }}&url={{ .Permalink }}"
    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
    <i class="fa fa-twitter"></i>
</a>
{{ end }}
{{ if isset .Site.Params.social_share "reddit" }}
<a
    aria-label="icon-reddit"
    class="icon-reddit"
    target="_blank"
    rel="noopener noreferrer"
    href="http://reddit.com/submit?url={{ .Permalink }}&title={{ .Title }}">
    <i class="fa fa-reddit"></i>
</a>
{{ end }}
{{ if isset .Site.Params.social_share "mail" }}
<a
    aria-label="icon-mail"
    class="icon-mail"
    href="mailto:address@example.com?subject={{ .Title }}&body={{ .Permalink }}">
    <i class="fa fa-envelope-o"></i>
</a>
{{ end }}
{{ if isset .Site.Params.social_share "google" }}
<a
    aria-label="icon-google"
    class="icon-google"
    href="https://plus.google.com/share?url={{ .Permalink }}"
    onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
    <i class="fa fa-google"></i>
</a>
{{ end }}
{{ if isset .Site.Params.social_share "linkedin" }}
<a
    aria-label="icon-linkedin"
    class="icon-linkedin"
    href="https://www.linkedin.com/shareArticle?mini=true&title={{ .Title }}&url={{ .Permalink }}">
    <i class="fa fa-linkedin"></i>
</a>
{{ end }}