{{ if .Site.Params.mailchimp.enabled }}
<div id="mc_embed_signup">
    <form
        action="{{ .Site.Params.mailchimp.action }}"
        method="post"
        id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form"
        class="validate"
        target="_blank"
        novalidate>
        <div id="mc_embed_signup_scroll">
            <input
                type="email"
                value=""
                name="EMAIL"
                class="email"
                id="mce-EMAIL"
                placeholder="email address"
                required
            >
            <div style="position: absolute; left: -5000px;">
                <input type="text" name="{{ .Site.Params.mailchimp.id }}" tabindex="-1" value="">
            </div>
            <div>
                <button
                    type="submit"
                    value="Subscribe"
                    name="subscribe"
                    id="mc-embedded-subscribe"
                    class="btn btn-template-transparent-black btn-lg"
                >
                    Subscribe
                </button>
            </div>
        </div>
    </form>
</div>
{{ end }}

{{ if .Site.Params.revue.enabled }}
<!-- has MailChimp Css -->
<div id="mc_embed_signup">
    <form
        action="{{ .Site.Params.revue.action }}"
        method="post"
        id="revue-form"
        name="revue-form"
        target="_blank">
        <div id="mc_embed_signup_scroll">
            <input
                class="email"
                placeholder="email address"
                type="email"
                name="member[email]"
                id="member_email"
            >
            <div>
                <button
                    type="submit"
                    value="Subscribe"
                    name="member[subscribe]"
                    id="member_submit"
                    class="btn btn-template-transparent-black btn-lg"
                >
                    Subscribe
                </button>
            </div>
        </div>
    </form>
</div>
{{ end }}