<div class="navbar-affixed-top" data-spy="affix" data-offset-top="200">

    <div class="navbar navbar-default yamm" role="navigation" id="navbar">

        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand home" href="{{ .Site.BaseURL }}">
                    <img data-lazy-src="{{ .Site.BaseURL }}img/page/logo.png" alt="{{ .Title }} logo" class="img-lazy">
                    <span class="sr-only">{{ .Title }} - go to homepage</span>
                </a>

                <div class="navbar-buttons">
                    <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-align-justify"></i>
                    </button>
                </div>
            </div>
            <!--/.navbar-header -->

            <div class="navbar-collapse collapse" id="navigation">
                <ul class="nav navbar-nav navbar-right">
                    {{ if .Site.Params.widgets.categories }}
                    {{ if isset .Site.Taxonomies "categories" }}
                    {{ if not (eq (len .Site.Taxonomies.categories) 0) }}
                        {{ range $name, $items := .Site.Taxonomies.categories }}
                        <li>
                            <a href="{{ $.Site.BaseURL }}categories/{{ $name | urlize | lower }}">{{ $name }}</a>
                        </li>
                        {{ end }}
                    {{ end }}
                    {{ end }}
                    {{ end }}
                    {{ range .Site.Params.menu }}
                    <li class="dropdown">
                        {{ if .cta }}
                            <a style="color: #38bb6c" href="{{ .url }}">{{ .name }}</a>
                        {{ else }}
                            <a href="{{ .url }}">{{ .name }}</a>
                        {{ end }}
                    </li>
                    {{ end }}
                </ul>
            </div>
            <!--/.nav-collapse -->

            <div class="collapse clearfix" id="search">

                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-btn">

                    <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>

                </span>
                    </div>
                </form>

            </div>
            <!--/.nav-collapse -->

        </div>
    </div>
    <!-- /#navbar -->

</div>

<!-- *** NAVBAR END ***-->
