{{ template "_internal/google_analytics.html" . }}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

{{ if .Site.Params.facebook_pixel.enabled }}
  <script async defer>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '{{ .Site.Params.facebook_pixel.id }}');
    fbq('track', 'PageView');
  </script>
  <noscript>
    <img
      height="1"
      width="1"
      style="display:none"
      src="https://www.facebook.com/tr?id={{ .Site.Params.facebook_pixel.id }}&ev=PageView&noscript=1"
    />
  </noscript>
{{ end }}

<!-- Pinterest Pin It Button  -->
{{ if .Site.Params.pin_it_button.enabled }}
    <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{{ end }}

<!-- Instagram Image -->
{{ if .Site.Params.instagram_image.enabled }}
	<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
{{ end }}

<script src="{{ .Site.BaseURL }}js/script.js"></script>

