<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body itemscope itemtype="http://schema.org/WebPage">

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "social/share_buttons.html" . }}

        {{ partial "social/package_popover.html" . }}

        {{ partial "newsletter_tiny.html" . }}

        {{ partial "recent_posts_list.html" . }}

        {{ partial "newsletter.html" . }}

        {{ partial "subfooter.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
