{{ $permalink := .Page.Permalink }}
{{ $title := .Site.Params.Title }}
{{ $baseUrl := .Site.BaseURL }}
{{ $paramCount := len .Params }}
{{ if gt $paramCount 0 }}
<div class="row fluid-images">
{{ range $param := .Params }}
  {{ $items := split $param "|" }}
  {{ $itemCount := len $items }}
  {{ if ge $itemCount 2 }}
  <div class="col-small-padding {{ index $items 0 }}">
    <div class="pinterest-pinner-wrapper" itemscope itemtype="http://schema.org/ImageObject">
      <div class="pinterest-pinner">
          <a
              data-pin-do="buttonPin"
              data-pin-save="true"
              data-pin-tall="true"
              href="https://www.pinterest.com/pin/create/button/?url={{ $permalink }}&media={{ $baseUrl }}{{ index $items 1 }}&description={{ $title }}">
          </a>
      </div>
      <img
        class="img-lazy img-responsive"
        data-lazy-src="/{{ index $items 1 }}"
        alt="{{ if ge $itemCount 3 }}{{ index $items 2 }}{{ else }}{{ "" }}{{ end }}"
        itemprop="image"
      />
  </div>
  </div>
  {{ end }}
{{ end }}
</div>
{{ end }}
