<div class="read-before">
    <p>{{ .Get 0 }}</p>
    <div>{{ .Get 1 }} <a href="{{ .Get 3 }}" itemprop="url">{{ .Get 2 }}</a></div>
    <div>{{ .Get 4 }} <a href="{{ .Get 6 }}" itemprop="url">{{ .Get 5 }}</a></div>
    <div>{{ .Get 7 }} <a href="{{ .Get 9 }}" itemprop="url">{{ .Get 8 }}</a></div>
    <div>{{ .Get 10 }} <a href="{{ .Get 12 }}" itemprop="url">{{ .Get 11 }}</a></div>
    <div>{{ .Get 13 }} <a href="{{ .Get 15 }}" itemprop="url">{{ .Get 14 }}</a></div>
    <div>{{ .Get 16 }} <a href="{{ .Get 18 }}" itemprop="url">{{ .Get 17 }}</a></div>
</div>